<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Facebook Suite">
  <test thread-count="5" name="Facebook Test">
    <classes>
      <class name="facebook.test.demo.FaceBookPage"/>
    </classes>
  </test> <!-- Facebook Test -->
</suite> <!-- Facebook Suite -->
